
.divs {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
  margin: 2rem;
  padding: 2rem;
  font-weight: normal;

}

div.a {
  font-family: 'Charmonman', cursive;
}

div.b{
  font-family: 'Italianno', cursive;
}

div.c{
  font-family: 'Cedarville Cursive', cursive;
}

div.d {
  font-family: 'Allura', cursive;
}

div.e {
  font-family: 'Montez', cursive;
}

div.f {
  font-family: 'Qwigley', cursive;
}
